@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}
:root{
    --Primary:hsl(25, 97%, 53%);
     --LightGrey: hsl(217, 12%, 63%);
 --White: hsl(0, 0%, 100%);
 --MediumGrey: hsl(216, 12%, 54%);
 --DarkBlue: hsl(213, 19%, 18%);
 --VeryDarkBlue: hsl(216, 12%, 8%);
}
html{
    font-size: 15px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;width: 100%;
    height: 100vh;
    background: var(--VeryDarkBlue);
    flex-direction: column;
    position: relative;
    transition: .5s ease-in;

}
.container .box{
    width: 26.7rem;
    height: 26.7rem;
    border-radius: 15px;
    background-color: var(--DarkBlue);
    padding: 2rem;
    transition: .5s ease-in;
    cursor: pointer;


}
.container.active .box{
    display: none;
    opacity: 0;
    transition: .7s ease-out;

}
.box .star img{
    margin-bottom: 1rem;
    border: 1px solid transparent;
    background: rgba(225, 225, 225, .1);
    padding: .8rem;
    border-radius: 50%;
    text-align: center;
}
.box .content h4{
    font-size: 27px;
    color: var(--White);
    margin-bottom: 1rem;
}
.box .content p{
    font-size: 1rem;
    color: var(--LightGrey);
    font-weight: 400;
    margin-bottom: 1rem;
    line-height: 1.8rem;
}
.box .rating{
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-around;
    color: var(--DarkBlue);
    margin-left: -0.7rem;
}
.rating p{
    background: rgba(225, 225, 225, .1);
    padding: 1rem 1.2rem;
    border-radius: 50%;
    color: var(--MediumGrey);
    cursor: pointer;
    transition: .3s ease-in-out;
    font-weight: 700;

}
.rating p:hover{
    background-color: var(--Primary);
    color: var(--White);
}
.rating p:active{
    background-color: var(--MediumGrey);
}
.box .submit input{
    width: 100%;
    outline: none;
    border-radius: 30px;
    border: 1px solid transparent;
    padding: 1rem 0;
    background-color: var(--Primary);
    color: var(--White);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3rem;
    transition: .3s ease-in-out;
    cursor: pointer;


}
.box .submit input:hover{
    background-color: var(--White);
    color: var(--Primary);
}

.container .box2{
    width: 26rem;
    height: 25.3rem;
    border-radius: 15px;
    background-color: var(--DarkBlue);
    padding: 2rem;
    text-align: center;
    position: relative; 
    margin-top: -537px;
    margin-bottom: 23%;
    transition: 1s ease-in;
    /* display: none; */
    opacity: 0;
    position: absolute;
    visibility: hidden;
    cursor: pointer;
}
.container.active .box2{
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 0%;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
.box2 .illustration img{
    margin-bottom: 1rem;
}
.box2 .rate p{
    background: rgba(225, 225, 225, .1);
    color: var(--Primary);
    padding: .4rem 1.3rem;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    border-radius: 22px;
    font-size: small;
    font-weight: 300;
}
.content2 h3{
    color: var(--White);
    font-size: 25px;
    margin-bottom: .7rem;
}
.content2 p{
    line-height: 1.7rem;
    color: var(--MediumGrey);
    font-weight: 500;
    font-size: 14px;
}






